* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #998235;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;

  box-sizing: border-box;
}

.line {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.line-a {
  align-items: flex-start;
  margin-bottom: -2vw;
}

.line-b {
  transform: rotateY(180deg);
  align-items: flex-end;
  margin-bottom: 1vw;
}

.leaf {
  flex: 0 0 7.142%;
}

.green-leaf {
  background-color: #1a4341;
  height: 8vw;
  border-radius: 0% 53% 0% 66% / 0% 54% 0% 54%;
}

.yallow-leaf {
  background-color: #f3ac3c;
  height: 5vw;
  border-radius: 68% 0% 76% 28% / 100% 31% 100% 0%;
}
